<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <ApplicationSettings>
    <add key="ApplicationFolderName" value="Password Store"/>
    <add key="ExportPasswordsFileName" value="passwords.xml"/>
    <add key="ImportPasswordsFileName" value="passwords.txt"/>
    <add key="PasswordsFileName" value="passwords.xml"/>
    <add key="RSAFileName" value="rsa.xml"/>
    <add key="RSAKeySize" value="2048"/>
    <add key="PasswordBytesEncoding" value="UnicodeEncoding"/>
    <add key="DefaultBalloonTipTimeout" value="2000"/>
  </ApplicationSettings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
